.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  margin-bottom: 5rem;
  @include flex(space-between, center, row);
  text-align: center;
  flex-wrap: wrap;
  h2 {
    margin: 5rem;
  }
}

.explory,
.photo {
  flex: 1 1 40rem;
}

.project-cta {
  transition: transform 0.4s ease;
  display: inline-block;
  &:hover {
    transform: scale(1.03);
  }
}
